#header {
    height: 60px;
    border-bottom-style: solid;
    border-bottom-color: #AAB043;
    border-bottom-width: .5px;
    background-color: orange;
}

.navbar-header {
    background-color: green;
    margin-left: -31px;

}

p  {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 4px;
}
